@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .bg-dots-pattern {
    background-image: radial-gradient(#333 1px, transparent 1px);
    background-size: 20px 20px;
  }

  @keyframes shine {
    0% { left: -100%; }
    100% { left: 100%; }
  }
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .bg-dots-pattern {
    background-image: radial-gradient(#333 1px, transparent 1px);
    background-size: 20px 20px;
  }
}